{
    "GENERAL" : {
        "folder"              : "Inbox",
        "exclude_file"        : "etc/exclude_list",
        "change_to_address"   : ["@example-productive.com", "@example-preprod.com"],
        "report_back_days"    : "1",
        "zimbra_url"          : "https : //zimbra.example-productive.com",
        "default_language"    : "de",
        "available_languages" : ["de", "fr_FR", "it"],
        "unsubscribe"         : "__notifierUnsubscribe__"
    }
}
